[submodule "roles/forge_ssl"]
	path = roles/forge_ssl
	url = ssh://gitlab@git.forgeservicelab.fi:10022/ansible-roles/forge_ssl.git
[submodule "roles/forge_users"]
	path = roles/forge_users
	url = ssh://gitlab@git.forgeservicelab.fi:10022/ansible-roles/forge_users.git
[submodule "roles/jenkins"]
	path = roles/jenkins
	url = ssh://gitlab@git.forgeservicelab.fi:10022/ansible-roles/jenkins.git
[submodule "roles/timezone"]
	path = roles/timezone
	url = ssh://gitlab@git.forgeservicelab.fi:10022/ansible-roles/timezone.git
[submodule "roles/forge_jenkins_mods"]
	path = roles/forge_jenkins_mods
	url = ssh://gitlab@git.forgeservicelab.fi:10022/ansible-roles/forge_jenkins_mods.git
